body {
  overflow: hidden;
  margin: 0;
  font: 14px "Helvetica Neue";
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



circle {
  stroke-width: 1.5px;
}

line {
  stroke: rgba(32,32,32,.3);
}

svg {
  margin-left: auto;
  margin-right: auto;
/*  position: absolute;
*/}

#chart, #header {
  position: absolute;
  top: 0;
}

#instruction{
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: right;
  font: 30 36px "Helvetica Neue";
}

#header {
  z-index: 1;
  display: block;
}

#header {
  top: 10px;
  right: 20px;
  font: 300 36px "Helvetica Neue";
}

#courseList{
  position: fixed;
  left: 1%;
  top: 20%;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #555;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

.bounded {
  stroke: #000;
  stroke-width: 3.5px;
}


.ui-helper-hidden-accessible { position: absolute; left:-999em; }